<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="600">
    <title>Battlefield3 Dashboard</title>

    <link type="text/css" rel="stylesheet" href="http://battlelog-cdn.battlefield.com/public/base/css/ui-lightness/jquery-ui-1.8.custom.css?v=3173239">
    <link type="text/css" rel="stylesheet" href="http://battlelog-cdn.battlefield.com/public/generated/bundle_base_index_3368002062.css?v=3173239">

    <link type="text/css" rel="stylesheet" href="http://battlelog-cdn.battlefield.com/public/generated/bundle_base_index_2673680925.css?v=3173239">
    <link type="text/css" rel="stylesheet" href="http://battlelog-cdn.battlefield.com/public/generated/bundle_base_index_3638168734.css?v=3173239">

    <style type="text/css" media="screen">
      body {
        background: none;
      }
      .base-middle {
        background: none;
      }
      #profile-main-column {
        float: none;
        margin: 16px auto;
      }
    </style>
  </head>
   <body id="base-bf3-body" class="new-base-bf3-body">
     <div id="base-wrapper">
       <div id="content-container">
         <div id="content">
           <div class="base-middle profile-page">
             <div id="profile-user">
               <div id="profile-main-column">
               <h1>
                BF3Dashboard.info
               </h1>
               <br/>

                <div class="common-box-title-clean  profile-soldier-list ">
                 <div class="common-box-container">

                    <div class="common-box-inner ">
                      <ul id="soldier-list" data="">

                        <% host = "http://battlelog.battlefield.com/" %>

                        <% @data.each do |hash| %>
                          <% persona = hash["persona"] %>
                          <% persona_id = persona["personaId"] %>
                          <% picture = persona["picture"] ? "http://battlelog-cdn.battlefield.com/public/profile/kits/s/#{persona["picture"]}.png" : "http://battlelog-cdn.battlefield.com/public/profile/kits/s/bf3-us-assault.png" %>
                          <% dogtag = hash["dogtagsForPersona"][persona_id] %>
                          <% basic_dogtag = dogtag ? "http://battlelog-cdn.battlefield.com/public/profile/bf3/stats/dogtags/la/t/#{dogtag["basicDogTag"]["image"]}.png" : "http://battlelog-cdn.battlefield.com/public/profile/bf3/stats/dogtags/lb/t/defaulttag_right.png" %>
                          <% advanced_dogtag = dogtag ? "http://battlelog-cdn.battlefield.com/public/profile/bf3/stats/dogtags/lb/t/#{dogtag["advancedDogTag"]["image"]}.png" : "http://battlelog-cdn.battlefield.com/public/profile/bf3/stats/dogtags/la/t/defaulttag_right.png" %>
                          <% rank = hash["rank"] %>
                          <% win_rate = "%.2f" % (hash["numWins"].to_f / hash["numLosses"].to_f) %>

                          <li>
                            <div class="soldier-name">
                              <h3>
                                <a href="<%= host %>/bf3/soldier/<%= persona["personaName"] %>/stats/<%= persona_id %>/<%= persona["namespace"] %>/" target="_blank">
                                  <%= persona["personaName"] %>
                                </a>
                              </h3>
                              <a href="<%= host %>/bf3/soldier/<%= persona["personaName"] %>/stats/<%= persona_id %>/<%= persona["namespace"] %>/" target="_blank" target="_blank" target="_blank" target="_blank">
                                <div class="common-gameicon-hori common-game-2-2"></div>
                              </a>
                              <a href="<%= host %>/bf3/soldier/<%= persona["personaName"] %>/dogtags/<%= persona_id %>/<%= persona["namespace"] %>/" target="_blank" target="_blank" target="_blank">
                                <div class="soldier-dogtags">
                                  <img class="dogtag2" src="<%= basic_dogtag %>" alt="">
                                  <img class="dogtag1" src="<%= advanced_dogtag %>" alt="">
                                </div>
                              </a>
                            </div>

                            <a href="<%= host %>/bf3/soldier/<%= persona["personaName"] %>/dogtags/<%= persona_id %>/<%= persona["namespace"] %>/" target="_blank" target="_blank">
                              <img class="soldier-rank" src="http://battlelog-cdn.battlefield.com/public/profile/bf3/stats/ranks/small/r<%= rank %>.png" alt="" height="64" width="64">
                            </a>
                            <a href="<%= host %>/bf3/soldier/<%= persona["personaName"] %>/dogtags/<%= persona_id %>/<%= persona["namespace"] %>/" target="_blank">
                              <img class="" width="48" height="48" src="<%= picture %>">
                            </a>
                            <table>
                              <tr>
                                <td><%= hash["score"] %></td>
                                <td><%= hash["kills"] %></td>
                                <td class="last"><%= win_rate %></td>
                              </tr>
                              <tr>
                                <th>Score</th>
                                <th>Kills</th>
                                <th class="last">W/L Ratio</th>
                              </tr>
                            </table>
                          </li>
                        <% end %>
                    </ul>
                    <div class="base-clear"></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>