<div class="base-middle-content">
	<div id="multiplayer-specific-leaderboard-container" class="leaderboard-venice-list">
		<div class="leaderboard-venice-list-inner">
			<div class="leaderboard-venice-list-inner2">
				<%= partial :"leaderboard/header" %>
				<div class="base-clear"></div>									
				<%= partial :"leaderboard/top_score" %>
				<%= partial :"leaderboard/top_kills" %>
				<%= partial :"leaderboard/kill_death_ratio" %>
				<%= partial :"leaderboard/score_minute" %>
				<%= partial :"leaderboard/highest_playtime" %>
			</div>
		</div>
	</div>
</div>
